[user]
	name = Anes Hodza
	email = anes.hodza04@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	excludesfile = /Users/anes/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
