[user]
	name = Anes Hodza
	email = anes.hodza04@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cp = cherry-pick
[core]
	excludesfile = /Users/anes/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
  defaultBranch = main
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[includeIf "gitdir:~/ZHAW/"]
  path = ~/.gitconfig_zhaw
[merge]
	ff = false
[svn]
	pushmergeinfo = true
